{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Relief</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body style="background-color: #1F1C27;color: rgb(255,255,255);">
    <p></p>
    <h1 class="text-center" style="font-size: 54px;color: rgb(255,80,69);">Relief</h1>
    <p class="text-center" style="color: rgb(255,255,255);font-size: 30px;">Stay away from rumors and Join the fight against COVID19</p>
    <p>.</p>
    <div class="table-responsive" style="color:rgb(255,255,255);">
        <table class="table">
            <thead style="color: rgb(255,255,255);font-size: 25px;">
                <tr>
                    <th>Title</th>
                    <th>Country</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: rgb(255,255,255);font-size: 18px;">Name</td>
                    <td style="color: rgb(255,255,255);">{{ country }}</td>
                    <td style="color: rgb(255,255,255);">{{ state }}</td>
                </tr>
                <tr>
                    <td style="color: rgb(255,255,255);font-size: 18px;">Confirmed Cases</td>
                    <td style="color: rgb(255,255,255);">{{ ccases }}</td>
                    <td style="color: rgb(255,255,255);">{{ cases }}</td>
                </tr>
                <tr>
                    <td style="color: rgb(255,255,255);font-size: 18px;">Total Deaths</td>
                    <td style="color: rgb(255,255,255);">{{ cdeaths }}</td>
                    <td style="color: rgb(255,255,255);">{{ deaths }}</td>
                </tr>
                <tr>
                    <td style="color: rgb(255,255,255);font-size: 18px;">Total Recovered</td>
                    <td style="color: rgb(255,255,255);">{{ recovered }}</td>
                    <td style="color: rgb(255,255,255);">{{ recover }}</td>
                </tr>
                <tr>
                    <td style="color: rgb(255,255,255);font-size: 18px;">New Cases</td>
                    <td style="color: rgb(255,255,255);">{{ newc }}</td>
                    <td style="color: rgb(255,255,255);">+{{ inc }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="padding: 50px; margin-top: -25px;">
<p style="color: rgb(255,255,255);">There’s currently no vaccine to prevent coronavirus disease (COVID-19).

You can protect yourself and help prevent spreading the virus to others if you:<br>

Do
<ul>
<li>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based solution</li>
<li>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze</li>
<li>Avoid close contact with people who are unhealthy</li>
<li>Stay home and self-isolate from others in the household if you feel unhealthy</li>
</ul>
<br>

Don't
<ul>
<li>Touch your eyes, nose, or mouth if your hands are not clean</li>
<li>Don't leave your house unnecessarily</li>
</ul>

    If you are willing to donate some amount of money to Government you can do it by visiting given link
    <a href="https://www.pmindia.gov.in/en/" target="_blank">CLICK HERE</a>

    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>